@page "/"

<h4>Welcome to the Locations App</h4>
<hr />

<p>This system was created to learn how to use Microsoft's new SPA framework called Blazor.</p>

<h6>Technologies Used</h6>
<ul>
    <li><b>Visual Studio 2022 Community</b> Development IDE, see more <a class="btn btn-link" href="https://visualstudio.microsoft.com" target="_blank">here!</a></li>
    <li><b>.Net 6 Framework</b> for create multi-platform applications, see more <a class="btn btn-link" href="https://dotnet.microsoft.com/download" target="_blank">here!</a></li>
    <li><b>Blazor Server Side</b> for create SPA applications, see more <a class="btn btn-link" href="http://blazor.net" target="_blank">here!</a></li>
    <li><b>MudBlazor</b> front-end framework for Blazor, see more <a class="btn btn-link" href="https://mudblazor.com/" target="_blank">here!</a></li>
    <li><b>Dapper ORM</b> for data access with high performance, see more <a class="btn btn-link" href="https://dapper-tutorial.net/" target="_blank">here!</a></li>
    <li><b>SQL Server 2012</b> SGBD for storage the data, see more <a class="btn btn-link" href="https://www.microsoft.com/sqlserver" target="_blank">here!</a></li>
    <li><b>Data Annotations</b> for forms data validations, see more <a class="btn btn-link" href="https://docs.microsoft.com/pt-br/dotnet/api/system.componentmodel.dataannotations?view=net-6.0" target="_blank">here!</a></li>
</ul>

<br />

<h6>Who is me?</h6>

<p>
    I'm Marden Rodrigues DBA SQL Server and .Net Developer(VB.NET/C#) since 2010.<br /> 
    Self-taught and very passionate about technology always looking for improvements.<br />
</p>
<p>You can find me here: <a class="btn btn-link" href="https://www.linkedin.com/in/marden-luciomar-rodrigues-a95165a1/" target="_blank">Linkedin</a></p>

<hr />

<h4>Bem vindo ao controle de Localidades</h4>
<hr />

<p>Este sistema foi criado para aprender a utilizar o novo framework SPA da microsoft o Blazor.</p>

<h6>Tecnologias Utilizadas</h6>
<ul>
    <li><b>Visual Studio 2022 Community</b> IDE de desenvolvimento, veja sobre <a class="btn btn-link" href="https://visualstudio.microsoft.com" target="_blank">aqui!</a></li>
    <li><b>.Net 5 Framework</b> para criar aplicações multi-plataforma, veja sobre <a class="btn btn-link" href="https://dotnet.microsoft.com/download" target="_blank">aqui!</a></li>
    <li><b>Blazor Server Side</b> para criar a aplicação SPA sendo executada do lado do servidor, veja sobre <a class="btn btn-link" href="http://blazor.net" target="_blank">aqui!</a></li>
    <li><b>MudBlazor</b> para criar as telas do sistema que o usuário final vai utilizar, veja sobre <a class="btn btn-link" href="https://mudblazor.com" target="_blank">aqui!</a></li>
    <li><b>Dapper ORM</b> para acesso a dados com alta performance, veja sobre <a class="btn btn-link" href="https://dapper-tutorial.net" target="_blank">aqui!</a></li>
    <li><b>SQL Server 2012</b> para banco de dados, veja sobre <a class="btn btn-link" href="https://www.microsoft.com/sqlserver" target="_blank">aqui!</a></li>
    <li><b>Data Annotations</b> para validação de dados nos formulários, veja sobre <a class="btn btn-link" href="https://docs.microsoft.com/pt-br/dotnet/api/system.componentmodel.dataannotations?view=net-6.0" target="_blank">aqui!</a></li>
</ul>

<br />

<h6>Quem sou eu?</h6>
<p>
    Eu sou o Marden Rodrigues DBA SQL Server e desenvolvedor .Net desde de 2010.<br />
    Auto didata apaixonado por tecnologia sempre a procura de melhorias.
</p>
<p>Você pode me encontrar aqui: <a class="btn btn-link" href="https://www.linkedin.com/in/marden-luciomar-rodrigues-a95165a1/" target="_blank">Linkedin</a></p>